*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI';
  font-weight: 500;
  color: #222;
}

:root {
  --primary-color: #003cff;
  --text-color: #000;
  --secondary-color: #fff;
}

.wripper {
  background: #c5c3c3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card {
  width: 28%;
  height: 80vh;
  background: var(--secondary-color);
  /* margin: 2px auto; */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  text-align: center;
}


.main-img {
  position: absolute;
  width: 130px;
  height: 130px;
  background: var(--text-color);
  border-radius: 50%;
  right: 35%;
  top: 3%;
  z-index: 2;
  border: 3px solid var(--secondary-color);
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
}

.card-header {
  background: var(--primary-color);
  height: 26%;
  margin-bottom: 6%;
}

.developer-name {
  font-size: 27px;
  color: var(--text-color);
}

.developer-position {
  font-size: 20px;
  text-transform: capitalize;
  color: var(--text-color);
  padding-top: 2%;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 25px;
}

.social-links {
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px dotted var(--primary-color);
  border-radius: 50px;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi {
  color: blue;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 19px;
}

.btns {
  margin-top: 6%;
}

.btn {
  padding: 6px 25px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0px 8px;
  border: 3px solid transparent;
  cursor: pointer;
  background: #2151f0;
  transition: .5s ease;
}

.btn:hover {
  transform: translateY(-10px);
}

.footer {
  height: 7vh;
  width: 95%;
  /* background: lightgray; */
  columns: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  columns:5;
  margin: 5% auto;
}

hr {
  height: 20px;
}

@media(max-width:800px) {
  .card{
    width: 90%;
    height: 74vh;
  }
}
